<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="beit.skn.pingmeagent"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name"  android:theme="@android:style/Theme.Light.NoTitleBar" android:name=".AgentApplication">
        <activity android:name=".AgentAuthenticationActivity"
                  android:label="@string/app_name" >
            
        </activity>
		<activity android:name=".DashboardActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".IntroActivity"
                  android:label="@string/app_name">
                  <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service android:name=".AgentCommunicatorService">
        </service>	
    </application>
</manifest>